@charset "utf-8"; /* 文字コード指定 */
@import url(reset.css);/* リセットCSS読込 */

/* ================================
   COMMON 共通設定
================================ */

* {
    box-sizing: border-box; /* パディングと枠を含めて幅計算 */
}

body {
    line-height: 1.8; /* 行間 */
    font-family: 'Sawarabi Mincho', sans-serif; /* フォント設定 */
    font-size: 16px;
    letter-spacing: .2em; /* 文字間隔 */
    background: #f9f0e7;
}

a {
    color: inherit; /* 親の文字色を継承 */
}

a:hover {
    color: inherit; /* ホバーしても色を変えない */
    text-decoration: none; /* 下線削除 */
}

img {
    max-width: 100%; /* 画像が枠をはみ出ない */
}

/* ================================
   #main-visual
================================ */

#main-visual {
    width: 100%;
    height: 100vh; /* 全画面高さ */
    background: url(../images/main.jpg) center/cover no-repeat; /* 背景画像の設定 */
}

#main-visual .inner {
    margin-top: auto;  /* 上余白自動 */
    margin-bottom: 0;
    color: #fff;
}

#main-visual > section {
    margin: 0;
}

#main-visual + section .inner {
    margin-top: 0;
}

/* ================================
   section
================================ */

section + section {
    margin-top: 160px;
}

.bg {
    display: flex;
    flex-wrap: wrap; /* 折り返し有効 */
}

.bg img {
    width: calc((750px + (100% - 750px) / 2)); /* 指定幅計算（※px変換対象外） */
    margin-bottom: 80px; 
}

/* 左右切替 */
.bg.right img {
    margin-left: auto; 
}

.bg.left img {
    margin-right: auto;
}

.inner {
    width: 750px;
    margin: auto;
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

h2 span {
    display: block; /* ブロック化 */
    color: #546e7a; 
    font-family: 'Tangerine', cursive;
    font-weight: normal; /* 太さ標準 */
    margin-top: 2px;
}

.author {
    font-size: 15px;
}

.profile {
    margin: 0 0 12px;
}

p {
    line-height: 2.0;
}

p + p {
    margin-top: 15px;
}

/* ================================
   .slide-in
================================ */

.slide-in {
    width: 100%;
    height: 400px;
    margin-top: 100px;
    background: linear-gradient(90deg, black 50%, white 100%); /* グラデ背景 */
    color: #fff;
    transform: translateX(-100%); /* 左側に隠す初期位置 */
    opacity: 0; /* 透明にして非表示 */
    position: relative; /* 相対位置 */
    display: flex;
    align-items: center;
    font-size: 40px;
    padding-left: 80px;
    transition: all .6s; /* アニメーション時間 */
}

.slide-in .more {
    position: absolute; /* 絶対配置 */
    bottom: 50px;
    left: 80px;
    padding: 10px;
    border: 2px solid #fff;
    font-size: 14px;
    transition: all .6s;
}

.slide-in img {
    position: absolute; /* 絶対配置 */
    right: 0;
    margin: auto;
    width: auto;
    height: 400px;
    mix-blend-mode: darken; /* なじませブレンド */
}

/* 表示時の動き */
.slide-in.show {
    transform: translateX(0); /* 左→0位置へ移動 */
    opacity: 1; /* 不透明に */
}

.slide-in.show:hover {
    opacity: .8; /* ホバーで薄く */
}

.slide-in.show:hover .more {
    background: #fff;
    color: #231815; 
}

/* ================================
   footer
================================ */

footer {
    width: 100%;
    background: #1f8d52;
    text-align: center;
    padding: 10px 0;
}

footer small {
    display: block;
    padding: 10px 0;
}